@import "tailwindcss";
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --font-family-sans: var(--font-onest), Arial, Helvetica, sans-serif;
}

@utility font-lobster {
  font-family: var(--font-lobster), cursive;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-onest);
}
